<nav class="navbar navbar-light bg-light">
  <form class="form-inline create-form">
    <label for="auth">Author:</label>
    <input class="form-control mr-sm-2" type="text" id="auth" name="author">

    <label for="titl">Story Title:</label>
    <input class="form-control mr-sm-2" type="text" id="titl" name="title">
    
    <label for="snip">Snippet:</label>
    <textarea id="snip" name="snippet" rows="8" cols="40"></textarea>
    
    <label for="gen">Genre:</label>
    <input class="form-control mr-sm-2" type="text" id="gen" name="author">


    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
  </form>
</nav>

<div class="container">
  <div class="row">
    <div class="col col-md-10">
      <h1>Flash Fiction</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-10">
    <p>View the latest crowdsourced stories</p>
    </div>
  </div>

<div class="row">
    <div class="col col-md-10">
      <ul>
        {{#each stories}}
          <li>
            <p><span class="label">Title:</span> {{this.title}}</p>
            <p><span class="label">Author:</span> {{this.author}}</p>
            <a href="/story/{{this.id}}"></a>
          </li>
        {{/each}}
      </ul>
  </div>
</div>
