<h1>{{this.title}}</h1>





<form data-id="{{this.id}}" class="create-snippet-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author" value="{{this.author}}">
  </div>

  <label for="snip">Snippet:</label>
    <textarea id="snip" name="snippet" rows="8" cols="40"></textarea>

  <button type="submit"></button>
</form>